<div class="nse_stock">
    <% stock_data.map(function(stock_obj){ %>
        <div class=" mx-4 my-4">
            <h2 class="text-lg text-yellow-300"><%= stock_obj.NSECode %></h2>
            <h6>Today Open : <%= stock_obj.TodayOpen %></h6>
            <h6>Today High : <%= stock_obj.TodayHigh %></h6>
            <h6>Today Low : <%= stock_obj.TodayLow %></h6>
            <h6>Today Close : <%= stock_obj.TodayClose %></h6>
        </div>
        <% }) %>
    </div>