<%- include ("partials/header") %>
<h1><%=company_name%></h1>
<span>Current Price: </span>
<span><%=price%></span>
<h2>Remaining Amount:<%=purse%></h2>
<form action="/buy" method="post">
    <input type="number" name="numberOfStocks">
    <button name="<%=stock_code%>">Buy!</button>
</form>
<%- include ("partials/footer") %>
