<%- include('partials/header') %>
  <style>
    .form-container {
      max-width: 600px;
      padding: 20px;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
    }
    .container{
      padding-top:100px;
    }

    .outer-box {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px; 
      max-width: 80%;
    }
    
    .form-control:hover {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) ;
    }

    .btn-primary:hover {
      background-color: #007bff;
    }
    .form-heading {
      text-align: left;
      border-bottom: 2px solid #007bff;
      
      padding-bottom: 10px;
      margin-bottom: 20px;
    }
    .card{
      background-color: rgba(0, 0, 0, 0.5);
      border:5px
    }
    .form-control {
      background-color: #121212;
      color: #fff;
      border: 1px solid #555;
    }

    .form-control:focus {
      background-color: #444;
      color: #fff;
      border-color: #777;
      box-shadow: none;
    }
    @media (max-width: 768px) {
      body {
        background-color: #28282B;
        background-image:none;
      }
      outer-box{
        background-color: #28282B;
      }
    }
    @media (min-width: 768px) {
      body {
        height: 100%;
          margin: 0;
          position:relative;
          background-image: url('https://img.freepik.com/premium-photo/stock-market-forex-trading-graph_73426-194.jpg');
          background-size: cover;
          background-position: center;
          background-repeat:no-repeat;
          height: 100%;
          background-attachment: fixed;
      }
    }
  </style>


  <div class="bg-image full-height">
    
      
  <div class="row">
          
  <div class="col-md-6">
    <div class="container full-height d-flex justify-content-center align-items-center">
        
      <div class="outer-box">
        <div class="form-container">
          <div class="card text-white">
            <div class="card-body ">
              <form action="/buy" method="post">
                <div class="form-heading">
                    <h4>Buy | <%=company_name%></h4>
                    <h6>current price : <%=price%></h6>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input min="0" max="<%=max_quant%>" type="number" id="floatingInput" class="form-control" />
                  </div>
                  
                  <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="stop_loss1">Stop Loss (Δ)</label>
                    <input type = "number" name="stop_loss1" class="form-control" min="0.0"  id="stop_loss1" value="" onkeypress="aloss_del()" onkeyup="aloss_del()" step=".0000000001">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="stop_loss2">Stop Loss (%)</label>
                    <input type = "number" name="stop_loss2" class="form-control" min="0.0"  id="stop_loss2" value="" onkeypress="aloss_per()" onkeyup="aloss_per()" step=".0000000001">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="stop_profit1">Stop profit (Δ)</label>
                    <input type = "number" name="stop_profit1" class="form-control" min="0.0"  id="stop_profit1" value="" onkeypress="aprofit_del()" onkeyup="aprofit_del()" step=".0000000001" >
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="stop_profit2">Stop profit (%)</label>
                    <input type = "number" name="stop_profit2" min="0.0" class="form-control" id="stop_profit2" value="" onkeypress="aprofit_per()" onkeyup="aprofit_per()" step=".0000000001">
                  </div>
                </div>
                <button type="submit" name="<%=stock_code%>" class="btn btn-primary mt-3">Buy</button>
                <button type="button" class="btn btn-outline-primary mt-3" href="/portfolio">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>

    
    <div class="col-md-6">
      <div class="container full-height d-flex justify-content-center align-items-center">
      
      
      <div class="outer-box">
        <div class="form-container">
          <div class="card text-white">
            <div class="card-body ">
              <form action="/short_sell" method="post">
                <div class="form-heading">
                    <h4>Short Sell | <%=company_name%></h4>
                    <h6>current price : <%=price%></h6>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">Quantity</span>
                    <input min="0" max="<%=max_quant%>" type="number" id="typeNumber" class="form-control" />
                    
                  </div>
                
                  <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="stop_loss1">Stop Loss (Δ)</label>
                    <input type = "number" name="stop_loss1" class="form-control" min="0.0"  id="astop_loss1" value="" onkeypress="aloss_del()" onkeyup="aloss_del()" step=".0000000001">
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="stop_loss2">Stop Loss (%)</label>
                    <input type = "number" name="stop_loss2" class="form-control" min="0.0"  id="astop_loss2" value="" onkeypress="aloss_per()" onkeyup="aloss_per()" step=".0000000001">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="stop_profit1">Stop profit (Δ)</label>
                    <input type = "number" name="stop_profit1" class="form-control" min="0.0"  id="astop_profit1" value="" onkeypress="aprofit_del()" onkeyup="aprofit_del()" step=".0000000001" >
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="stop_profit2">Stop profit (%)</label>
                    <input type = "number" name="stop_profit2" min="0.0" class="form-control" id="astop_profit2" value="" onkeypress="aprofit_per()" onkeyup="aprofit_per()" step=".0000000001">
                  </div>
                </div>
                <button type="submit" name="<%=stock_code%>" class="btn btn-primary mt-3">Short Sell</button>
                <button type="button" class="btn btn-outline-primary mt-3" href="/portfolio">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

  
<script>
    var a = document.getElementById("stop_loss1");
    var b = document.getElementById("stop_loss2");
    var c = document.getElementById("stop_profit1");
    var d = document.getElementById("stop_profit2");
    var e = parseFloat(document.getElementById("price").value); 
    var f = document.getElementById("astop_loss1");
    var g = document.getElementById("astop_loss2");
    var h = document.getElementById("astop_profit1");
    var i = document.getElementById("astop_profit2");

    function loss_del(){
        b.value = parseFloat((((a.value)/e)*100).toPrecision(4));
    }
    function loss_per(){
        a.value = parseFloat(((b.value/100)*e).toPrecision(6));
    }
    function aloss_del(){
        g.value = parseFloat((((f.value)/e)*100).toPrecision(4));
    }
    function aloss_per(){
        f.value = parseFloat(((g.value/100)*e).toPrecision(6));
    }
    function profit_del(){
        d.value = parseFloat((((c.value)/e)*100).toPrecision(4));
    }
    function profit_per(){
        c.value = parseFloat(((d.value/100)*e).toPrecision(6));
    }
    function aprofit_del(){
        i.value = parseFloat((((h.value)/e)*100).toPrecision(4));
    }
    function aprofit_per(){
        h.value = parseFloat(((i.value/100)*e).toPrecision(6));
    }

</script>
<%- include('partials/footer') %>
