<%- include('partials/header') %>

<header class="nav">
    <%- include ("navbar")  %>
</header>
 <h1>You are logged in</h1>
 <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
 <h1>Amount reamaining : <%= amount%></h1>
 <h1>Amount invested : <%= amount_invested%></h1>
 <h1 style="font-size: xx-large;">Stocks Bought</h1>
 <h1>NSE Stocks</h1>
 <% stocks_held.nse.map((obj)=>{%>
    <h2><%= obj.symbol %></h2>
    <p>quantity : <%= obj.quantity %></p>
    <p>price : <%= obj.price %></p>
    <p>money invested : <%= obj.money_invested %></p>
    <form action="/sell_stock" method="post">
        <input type="hidden" name="code" value ="<%= obj.symbol %>" > 
        <input type="hidden" name="stock_type" value="nse">
        <input type="number" value="0" name="quantity" min="0" max="<%= obj.quantity %>" style ="border: 2px solid black;" min="0"> 
        <button style="background-color: rgb(133, 134, 134);">Sell</button>
    </form>
    <%})%>
 <h1>US Stocks</h1>
 <% stocks_held.us_stocks.map((obj ,index)=>{%>
    <h2><%= obj.symbol %></h2>
    <p>quantity : <%= obj.quantity %></p>
    <p>price : <%= obj.price %></p>
    <p>current Price : <%= sh_arr[index] %></p>
    <p>Change :<%= obj.price - sh_arr[index] %> </p>
    <p>money invested : <%= obj.money_invested %></p>
    <form action="/sell_stock" method="post">
        <input type="hidden" name="code" value ="<%= obj.symbol %>" > 
        <input type="hidden" name="stock_type" value="us">
        <input type="number" value="0" min="0" name="quantity" max="<%= obj.quantity %>" style ="border: 2px solid black;" min="0"> 
        <button style="background-color: rgb(141, 141, 141);">Sell</button>
    </form>
    <%})%>

<h1 style="font-size: xx-large;">Short Sell Stocks</h1>
 <h1>NSE Stocks</h1>
 <% stocks_sold_adv.nse.map((obj)=>{%>
    <h2><%= obj.symbol %></h2>
    <p>quantity : <%= obj.quantity %></p>
    <p>price : <%= obj.price %></p>
    <p>money invested : <%= obj.money_invested %></p>
    <form action="/squareOff_stock" method="post">
        <input type="hidden" name="code" value ="<%= obj.symbol %>" > 
        <input type="hidden" name="stock_type" value="nse">
        <input type="number" name="quantity" max="<%= obj.quantity %>" style ="border: 2px solid black;" min="0"> 
        <button style="background-color: rgb(147, 147, 147);">Square OFF</button>
    </form>
    <%})%>
 <h1>US Stocks</h1>
 <% stocks_sold_adv.us_stocks.map((obj , index)=>{%>
    <h2><%= obj.symbol %></h2>
    <p>quantity : <%= obj.quantity %></p>
    <p>price : <%= obj.price %></p>
    <p>current Price : <%= ss_arr[index] %></p>
    <p>Change :<%= obj.price - ss_arr[index] %> </p>
    <p>money invested : <%= obj.money_invested %></p>
    <form action="/squareOff_stock" method="post">
        <input type="hidden" name="code" value ="<%= obj.symbol %>" > 
        <input type="hidden" name="stock_type" value="us">
        <input type="number" name="quantity" max="<%= obj.quantity %>" style ="border: 2px solid black;" min="0"> 
        <button style="background-color: rgb(157, 157, 157);">Square OFF</button>
    </form>
    <%})%>
 <form action="/stock" method="post">
    <button style = "background-color: rgb(187, 187, 187);">Get Stocks</button>
</form>

<%- include('partials/footer') %>