<%- include ("partials/header")%>
<h2>Short Sell</h2>
<h2>You sold: <%=shares%> Shares of <%=company%> at <%=price%></h2>
<h2>Remaining amount to invest: <%=amt%></h2>
<a href="/portfolio">Portfolio</a>
<%- include ("partials/footer")%>