<%- include("partials/header")%>
<h1 class="text-4xl">US Stocks</h1>
    <% for(var i=0; i<stocks.length; i++){%>
        <h1><%=stocks[i].name%></h1>
        <p>Current price: <%=(parseFloat(price[i].c)*parseFloat(ex_rate)).toPrecision(7)%></p>
        <p>Current Growth percent: <%=(parseFloat(price[i].dp)*parseFloat(ex_rate)).toPrecision(4)%></p>
        <p>Change: <%=(parseFloat(price[i].d)*parseFloat(ex_rate)).toPrecision(4)%></p>
        <p>High price of the day: <%=(parseFloat(price[i].h)*parseFloat(ex_rate)).toPrecision(7)%></p>
        <p>Low price of the day: <%=(parseFloat(price[i].l)*parseFloat(ex_rate)).toPrecision(7)%></p>
        <p>Open price : <%=(parseFloat(price[i].o)*parseFloat(ex_rate)).toPrecision(7)%></p>
        <p>Previous Close price : <%=(parseFloat(price[i].o)*parseFloat(ex_rate)).toPrecision(7)%></p>
    <%var add_stock="/stock/"+stocks[i].symbol+"/"+i%>
    <a href="<%=add_stock%>"><button id=<%=stocks[i]%>>Buy</button></a>
    <form action="<%=add_stock%>" method="post">
    </form>
    <%}%>
    <h1 class="text-4xl">NSE Stocks</h1>
    <% stock_data.map(function(stock_obj){ %>
        <div class=" mx-4 my-4">
            <p>Current price: <%= stock_obj.ltp %> ></p>
            <p>Current Growth percent: <%= stock_obj.dayChangePerc %></p>
            <p>Change: <%= stock_obj.dayChange %></p>
            <h2 class="text-lg"><%= stock_obj.NSECode %></h2>
            <h6>Open price : <%= stock_obj.TodayOpen %></h6>
            <h6>High price of the day: <%= stock_obj.TodayHigh %></h6>
            <h6>Low price of the day: <%= stock_obj.TodayLow %></h6>
            <h6>Previous Close price : <%= stock_obj.TodayClose %></h6>
            <% var add_stock = "/stock/" + stock_obj.NSECode %>
            <a href="<%= add_stock %>"><button id= "<%= stock_obj.NSECode %>">Add Stocks</button></a>
        </div>
        <% }) %>
<%- include("partials/footer")%>
