<%- include("partials/header.html")%>
<h1>Stock - Prices</h1>
<% for(var i=0; i<stocks.length; i++){%>
<h1><%=stocks[i].name%></h1>
<p>Current price: <%=price[i].c%></p>
<p>Current Growth percent: <%=price[i].dp%></p>
    
<%}%>
<%- include("partials/footer.html")%>