<%- include ("partials/header.html")%>
<h2>Successful Buy</h2>
<h2>You Bought: <%=shares%> Shares of <%=company%> at <%=price%></h2>
<h2>Remaining amount: <%=amt%></h2>
<a href="/">Home</a>
<%- include ("partials/footer.html")%>